*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#b06be9, #6463e7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 509px;
  width: 920px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  background: #fff;
  border-radius: 25px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.5);
}

.image {
  border: 2px solid red;
  height: 100%;
  width: 50%;
}

.text {
  border: 2px solid black;
  height: 100%;
  width: 50%;
}
