*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background: linear-gradient(#b06be9, #6463e7);
  display: flex;
  justify-content: center;
  align-items: center;
}
